# Ignores Part0_Intro.ipynb for privacy reasons
HW1/Part0_Intro.ipynb

# Ignore Python compiled files

*.pyc
__pycache__/
HW1/Part1_Datasets.ipynb
HW1/Part2_LinearClassifier.ipynb
HW1/Part3_LinearRegression.ipynb
